// 颜色
$accentColor = #6485ff
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #25293e
$textGrayColor = #a0a5b9
// $codeBgColor = #2c2734
$arrowBgColor = #ccc
$badgeTipColor = #42b983
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961
// 布局
$homePageWidth = 1450px
$sidebarWidth = 260px
$contentWidth = 800px
// z-index
$NavbarIndex = 999